<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="app" type="NodeJSConfigurationType" path-to-node="docker://nodeproj-backend:latest/node" path-to-js-file="dist/index.js" working-dir="$PROJECT_DIR$">
    <envs>
      <env name="DEBUG" value="nodeproj:*" />
    </envs>
    <EXTENSION ID="NodeDockerRunConfigurationExtension">
      <option name="envVars">
        <list />
      </option>
      <option name="extraHosts">
        <list />
      </option>
      <option name="links">
        <list />
      </option>
      <option name="networkDisabled" value="false" />
      <option name="networkMode" value="bridge" />
      <option name="portBindings">
        <list />
      </option>
      <option name="publishAllPorts" value="false" />
      <option name="runCliOptions" value="--entrypoint= --rm" />
      <option name="version" value="2" />
      <option name="volumeBindings">
        <list>
          <DockerVolumeBindingImpl>
            <option name="containerPath" value="/opt/project" />
            <option name="editable" value="true" />
            <option name="hostPath" value="$PROJECT_DIR$" />
            <option name="readOnly" value="false" />
          </DockerVolumeBindingImpl>
        </list>
      </option>
    </EXTENSION>
    <EXTENSION ID="com.jetbrains.nodejs.run.NodeStartBrowserRunConfigurationExtension">
      <browser url="http://localhost:3000/" />
    </EXTENSION>
    <method v="2">
      <option name="LaunchBrowser.Before.Run" browser="98ca6316-2f89-46d9-a9e5-fa9e2b0625b3" url="localhost:8090" />
    </method>
  </configuration>
</component>